<ul>
  <% @books.each do |book| %>
    <td><%= book.id %></td>
    <li><%= book.title %></li>
    <li><%= book.content %></li>
    <li><%= book.author %></li>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</ul>
<td><%= link_to "New Book", new_book_path %><td>
<%# <%= link_to "Editing Book", some_path %> 
